<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Contact</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
</head>
<body>
  {{>header}}
  <div class="container">
<div class="contents row">
  <div class="well col-lg-6">
    <p>Marcos Wade</p>
    <p>marcoswade@gmail.com</p>
    <p>347.927.2728</p>
  </div>
  </div>
  </div>
  {{>footer}}
</body>
</html>
