<header id="header" class="">
        <div class="main-container">
    {{#logged_in}}
        <ul id="acctul">
          <li class="acctli"><a href="/games/{{id}}">My Games</a></li>
          <li class="acctli"><a href="/user/{{id}}">Profile</a></li>
          <li class="acctli"><a href="/user/{{id}}/account">Account</a></li>
          <li class="acctli"><a href="/logout">Log out</a></li>
        </ul>
    {{/logged_in}}
    {{^logged_in}}
      <ul id="acctul">
        <li class="acctli"><a href="/signup">Sign Up</a></li>
      </ul>
    {{/logged_in}}
        <div class="headerdiv">
          <div><img src="" alt=""></div>
          <div><h2>ParaoneChess</h2></div>
        </div>
        </div>
        <nav>
          <div class="main-container">
            <ul id="navul">
              <li class="navli"><a href="/" title="">Home</a></li>
              <li class="navli"><a href="/play" title="">Play</a></li>
              <li class="navli"><a href="/watch" title="">Watch</a></li>
              <li class="navli"><a href="/about" title="">About</a></li>
              <li class="navli"><a href="/contact" title="">Contact</a></li>
            </ul>
          </div>
        </nav>
      </header><!-- /header -->
