<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Watch the Grand Masters</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/public/js/jquery.js"></script>
    <script type="text/javascript" src="/public/js/watch.js"></script>
    <script type="text/javascript" src="/public/js/player.js"></script>
</head>
<body>
  {{>header}}
  <div class="main-container">
<div class="row contents">
    Search GM Games:
    <form action="/search" method="POST">
    <input type="text" id="search" name="search">
    <input type="submit" id="searchbtn" value="Submit">
    </form>
    <div id="playerHolder">
      <div id="player"></div>
    </div>
    <div id="results">
      {{#items}}
      <div class="vidholder">
        {{#videoid}}
        <button class="viewbtn" videoid="{{videoid}}">Watch Video</button>
        {{/videoid}}
        {{#playlistid}}
        <button class="viewbtn" playlistid="{{playlistid}}">Watch Playlist</button>
        {{/playlistid}}
        <div><img class="vidimg" src="{{img}}" alt=""></div>
        <div class="title">{{title}}</div>
        <div class="descript">{{description}}</div>
        <div class="channel">Channel: {{channel}}</div>
      </div>
      {{/items}}
    </div>
    </div>
  </div>
  {{>footer}}
</body>
</html>
