<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{user.username}}'s Account Page</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
</head>
<body>
  {{>header}}
<div class="container">
<div class="contents row">
  <div class="well bs-component col-lg-6">
    <form action="/user?__method=PUT" method="POST" class="form-horizontal">
      <fieldset>
        <legend>Account Details</legend>

        <div class="form-group">
          <label for="inputUsername" class="col-lg-2 control-label">Username:</label>
          <div class="col-lg-10">
            <input type="text" name="username" value="{{user.username}}" id="inputUsername" placeholder="Username">
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Email:</label>
          <div class="col-lg-10">
            <input type="text" name="email" value="{{user.email}}" id="inputEmail" placeholder="Email">
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
        <div>
          <a href="/user/{{user.id}}/changepassword" class="btn btn-warning">Change Password</a>
        </div>
      </fieldset>
    </form>

    <br>

    <form class="form-horizontal" action="/user?__method=DELETE" method="POST">
      <fieldset>
        <div class="form-group">
          <div class="col-lg-8"><input class="btn btn-danger" type="submit" value="Delete Account"></div>
        </div>
      </fieldset>
    </form>
  </div>
  </div>
</div>
  {{>footer}}
</body>
</html>
