<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Change Password</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
</head>
<body>
{{>header}}
<div class="main-container">
<div class="row contents">
  <div class="well col-lg-6"><form>
      <fieldset>
        <legend>Change Password</legend>
        <div class="form-group"><label for="inputPassword" class="col-lg-4 control-label">Password</label>
                <div class="col-lg-6">
                  <input type="password" name="password" placeholder="Password" id="inputPassword">
                </div></div>
        <div class="form-group"><label for="inputnewPassword" class="col-lg-4 control-label">New Password</label>
                <div class="col-lg-6">
                  <input type="password" name="newpassword" placeholder="newPassword" id="inputnewPassword">
                </div></div>
        <div class="form-group">
          <div class="col-lg-6 col-lg-offset-2">
                <br>
            <button class="btn btn-danger">Change Password</button>
          </div>
        </div>
      </fieldset>
    </form></div>
    </div>
</div>
  {{>footer}}
</body>
</html>
