<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{username}}'s Profile Page</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
<body>
  {{>header}}
  <div class="main-container">
<div class="row contents">
  <h2>{{username}}'s Profile</h2>
  <div>email: {{email}}</div>
  <div>id: {{id}}</div>
  <div><a href="/games/{{id}}">{{username}}'s Games</a></div>
  <div><span class="alertm">{{alert}}</span></div>
  </div>
  </div>
  {{>footer}}
</body>
</html>
